body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #306998;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

main {
    padding: 2em;
}

.detalle-curso {
    text-align: center;
}

h2 {
    color: #306998;
}

img {
    max-width: 100%;
    margin: 1em 0;
}

.info-detalle {
    text-align: left;
    padding: 1em;
    background-color: #f4f4f4;
    border-radius: 8px;
}
